/* Menu inicio */

.menu-class {
    background-color: #000;
 }
 .navbar-dark .navbar-nav .nav-link {
      color: #fff;
 }
 .navbar-nav{
   
     font-family: Andale Mono, monospace;
   
 }
 .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
     color: #ffa500;
 }
 
 /* CSS do Menu - Fim*/

#background_home{
    background-image: url('imagens/header-background.jpg');
    height: 700px;
    background-repeat:no-repeat;
    background-size:cover; 
    background-position: bottom;
    background-attachment: fixed; 
    text-align: center;
}

#titulo_home{
        color: white;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.527);
        font-size: 80px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
        padding-top: 180px;
}
#subtitulo_home{
    color: rgba(255, 255, 255, 0.568);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.527);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    
}

#linha_home{
    border-bottom: 1px solid rgba(255, 255, 255, 0.335);
    width: 34%;
    margin-left: 33%;
    margin-right: 33%;
}

.icones_home{
    margin-top: 10px;
    width: 55px;
    opacity : 0.6;
}
.link_icones_home :hover{
    opacity : 1;
}



/* Começo css resume */
.resume_span { 
    border-width: 3px;
    border-bottom: solid;   
}

.grafic div > div {
    height: 45px;
}

.preto {   
    background-color: #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cinza {   
    background-color: #7F7F7F;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/* Fim css resume*/
/* Começo Css works */
.boxlinha{
    width: 100%;
    height: auto;
}

#works{
    background-color: rgb(233, 232, 227);
    text-align: center;
}

.titulo_works{
    font-size: 20px;
    color: rgb(77, 77, 77);
    font-weight: bold;

}

/* FIm Css works */

/*Testimonial------------------------*/
.aspas_slides{
    width: 60px; 
    margin-right: 40%;
}

.citacao_slides{
    font-size:35px;
    color:white;
    text-shadow: 1px 1px #292929; 
    font-family: 'Times New Roman', Times, serif; 
    font-style:italic;
    font-weight:normal;
}

.quadro_citacao{
    float: right; 
    width:80%;
    margin-top: 130px;
    padding-bottom: 50px;
}

.lateral_citacao{
    float: left; 
    width:20%;text-align: right;
    margin-top: 90px;
}

.dimencao_slide{
    width: 100%; 
    height: 500px;

}

#fundo_slider_citacao{
    background-image:url('imagens/testimonials-bg-3000.jpg');
    background-repeat:no-repeat;
    background-size:cover; 
    background-attachment: fixed;   
    
}

.autor_citacao{
    font-size:18px;
    color: white;
    text-shadow: 1px 1px #292929; 
    font-family: sans-serif;
    margin-top: 50px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

/*Testimonial fim----------------------*/


/*Contato -----------------------------*/
.fundo_contato{
    background-color: rgb(32, 32, 32);
    height: auto;
}

.icone_mail{
    width: 90px;
    height: auto;

}
.formulario{    
    color: white;
    font-weight:bold;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border:none;
    background-color: #3d3838;
    color: white;

  }

.titulos1_contato{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.paragrafos_contato{
    color: rgb(145, 145, 145);
    font-size: 16px;
    text-align: justify;
    line-height: 2;
}


/*Contato fim -------------------------*/



/* About começo ----- */

img.avatarLeft {
    width: 175px;
    height: 175px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 20px; 
}

.backgroundAbout {
    background-color: rgb(32, 32, 32);
}


.nomeAvatar {
    color: white;
    border-width: medium;
    border-bottom: solid;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 20px;
}

.textoAvatar {
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    word-wrap: break-word;
}

h2.integrantes {
    font-size: 40px;
    color: white;
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* About FIM */

/* Começo footer */

footer{
    background-color: rgb(17, 17, 17);
    height: 350px;

}

#escritafooter{
    color: rgba(255, 255, 255, 0.973);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.527);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    text-align: center;
}
 #linhafooter
  {
        border-bottom: 1px solid rgba(255, 255, 255, 0.335);
        width: 34%;
        margin-left: 33%;
        margin-right: 33%;  
}
#rodape_icones {
    text-align: center;
    width: 100%;
  }

.icones_footer{
    margin-top: 10px;
    width: 55px;
    opacity : 0.3;
}

.link_icones_footer :hover{
    opacity : 1;
}

/* FIm footer */

